html, body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

#scene-container {
  width: 100%;
  height: 100%;
  display: block;
}

#start-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(130, 130, 130, 0.5);
  user-select: none;
}
#clear-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(130, 130, 130, 0.5);
  user-select: none;
  display: none;
}

#instructions {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 32px;
  cursor: pointer;
}

#instructions p {
  margin: 16px;
  font-weight: bold;
}
.head-text{
  font-size: 2em;
  letter-spacing: 0.09em;
  text-shadow: 0.02em 0.02em 0.02em rgba(0,0,0,1);
}
.sub-text {
  font-size: 3em;
}
.isr-text {
  font-size: 2em;
}

.blink {
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s ease-in-out infinite alternate;
}
@-webkit-keyframes blink {
  0% {opacity: 0;}
  100%{opacity: 1;}
}
@keyframes blink {
  0% {opacity: 0;}
  100%{opacity: 1;}
}

#sub-display {
  width: 30%;
  margin: 32px;
  background-color: rgba(112, 112, 112, 0.308);
  position: absolute;
  left: 0;
  font-size: 32px;

  display: none;
}

#sub-display p {
  font-size: 1.6em;
  letter-spacing: 0.1em;
  margin-left: 5%;
}

#carrot-restnum {
  font-size: 1.65em;
  margin-left: 10%;
  vertical-align: middle;
  font-weight: bold;
}

#carrot-num {
  font-size: 1.65em;
  margin-left: 10%;
  vertical-align: middle;
  font-weight: bold;
}

